@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApp.Controllers.Graphic
<h2>title</h2>

@{
    var months = new[]
    {
        "January", "February", "March", "April", "May", "June", "July", "August", "September",
        "October", "November", "Dicember"
    };

    var entries = new Dictionary<string, List<double>>();
    var income = Model.taggedEntries.Select(tag => tag.Value.Where(x => x.amount > 0).Select(x => x.amount).Sum()).Sum();
}
@foreach (var tag in Model.taggedEntries)
{
    //var ann = tag.Value.Where(x => x.amount <= 0).Select(x =>
    var ann = tag.Value.Select(x =>
    {
        var date = DateTime.Parse(x.date);
        var month = date.Month;
        return new { x.amount, month };
    });
    var dic = new Dictionary<int, double>();
    foreach (var a in ann)
    {
        if (dic.ContainsKey(a.month))
        {
            dic[a.month] += a.amount;
        }
        else
        {
            dic.Add(a.month, a.amount);
        }
    }
    var values = new List<double>();
    for (int index = 0; index < months.Length; index++)
    {
        double value;
        dic.TryGetValue(index + 1, out value);

        values.Add(value);
    }

    entries.Add(tag.Key.name, values);
}


@Scripts.Render("~/bundles/chartjs")
<script src="~/Scripts/dashboard/index.js"></script>
<script type="text/javascript">
    

    @Html.Raw("var vm = new VM([" + string.Join(",", entries.Select(e => "new Entry('" + e.Key + "',[" + string.Join(",", e.Value.Select(v => "new Value(" + v + ")")) + "])")) + "]);")

    jQuery(document)
        .ready(function () {
            ko.applyBindings(vm);
        });
</script>
<canvas id="myChart" data-bind="chart: { type: 'line', data: Area, options: { observeChanges: true} }"></canvas>
<canvas id="myAreas" data-bind="chart: { type: 'line', data: Data, options: { observeChanges: true} }"></canvas>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tag</th>
            <!-- ko foreach: labels-->
            <th data-bind="text: $data"></th>
            <!-- /ko -->
            <th>Tot</th>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: entries-->
        <tr data-bind="css: entryType">
            <td data-bind="text: tag"></td>
            <!-- ko foreach: entries-->
            <td>
                <input type="number" data-bind="value: number" style="width: 50px" />
            </td>
            <!-- /ko -->
            <td data-bind="text: totalCurr" class="number"></td>
        </tr>
        <!-- /ko -->
        
    </tbody>
    <tfoot>

        <tr data-bind="css: profitStatus">
            <td colspan="13">Total Income</td>
            <td data-bind="text:totalIncomeCurr" class="number"></td>
        </tr>
        <tr data-bind="css: profitStatus">
            <td colspan="13">Total Expence</td>
            <td data-bind="text:totalExpenceCurr" class="number"></td>
        </tr>
        <tr data-bind="css: profitStatus">
            <td colspan="13">Remaining</td>
            <td data-bind="text:remainingCurr" class="number"></td>
        </tr>
    </tfoot>
</table>