@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApp.Controllers.Graphic
<h2>title</h2>

<script src="~/Scripts/dashboard/index.js"></script>
<script type="text/javascript">
    

    @Html.Raw("var vm = new VM([" + string.Join(",", Model.Entries.Select(e => "new Entry('" + e.Key + "',[" + string.Join(",", e.Value.Select(v => "new Value(" + v + ")")) + "])")) + "]);")

    jQuery(document)
        .ready(function () {
            ko.applyBindings(vm);
        });
</script>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tag</th>
            <!-- ko foreach: labels-->
            <th data-bind="text: $data"></th>
            <!-- /ko -->
            <th>Tot</th>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: entries-->
        <tr data-bind="css: entryType">
            <td data-bind="text: tag"></td>
            <!-- ko foreach: entries-->
            <td>
                <input type="number" data-bind="value: number" style="width: 50px" />
            </td>
            <!-- /ko -->
            <td data-bind="text: totalCurr" class="number"></td>
        </tr>
        <!-- /ko -->
        
    </tbody>
    <tfoot>

        <tr data-bind="css: profitStatus">
            <td colspan="13">Total Income</td>
            <td data-bind="text:totalIncomeCurr" class="number"></td>
        </tr>
        <tr data-bind="css: profitStatus">
            <td colspan="13">Total Expence</td>
            <td data-bind="text:totalExpenceCurr" class="number"></td>
        </tr>
        <tr data-bind="css: profitStatus">
            <td colspan="13">Remaining</td>
            <td data-bind="text:remainingCurr" class="number"></td>
        </tr>
    </tfoot>
</table>