@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApp.Controllers.Graphic
<h2>title</h2>

<table>

@foreach (var tag in Model.taggedEntries)
    {
        foreach(var entry in tag.Value)
        {
        <tr><td>@tag.Key</td><td>@entry.amount</td><td>@entry.date</td></tr>
        }
    }
</table>
