@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Toshl Custom Manager</h2>
<p>Welcome to the Toshl Custom Manager</p>

@Html.ActionLink("Upload a file","Upload", "Load")<br/>
@Html.ActionLink("Go to Dashboard","Index", "Dashboard")