@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tag Salvati con successo</h2>
@Html.ActionLink("Back to Home", "Index", "Home")<br/>
@Html.ActionLink("Back to Load", "Index", "Load")